<div style="height: 90vh; display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
    <h1 style="width: 40%; text-align: center; margin-bottom: 0;">Find Your Next Home</h1>
    <h3 style="margin-top: 0;">Select one of the cities below to begin your search. </h3>
    <div
      style="display: flex; justify-content: space-evenly; margin-bottom: 10px; width: 100%; flex-wrap: wrap;"
    >
      <button
      color="accent"
      style="font-size: 20px; width: 15%; margin: 10px 0;"
        *ngFor="let city of listCities"
        mat-raised-button
        (click)="onClick(city.name)"
      >
        {{ city.name }}
      </button>
      <button style="font-size: 20px; width: 15%; margin: 10px 0; color: #673AB7;" mat-button>+ Add City</button>
    </div>
    <img style="width: 300px; margin-bottom: 15px; border-radius: 10px;" src="../assets/home_car.svg" />
  </div>
  