<div>
  <form style="display: flex; justify-content: center; align-items: center; margin: 10px;" [formGroup]="cityForm" (ngSubmit)="onSubmit(cityForm.value)">
    <mat-form-field class="example-full-width">
      <mat-label>City Name</mat-label>
      <input
        id="name"
        type="text"
        formControlName="name"
        matInput
        placeholder="New York"
      />
    </mat-form-field>

    <button style="margin-left: 5px;" mat-flat-button color="accent" class="button" type="submit">
      Add City
    </button>
  </form>
  <mat-list style="display: flex; justify-content: center; flex-wrap: wrap;">
    <mat-card
      *ngFor="let city of listCities"
      style="width: 20%; margin: 20px; background-color: #B0A8B9; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);"
      class="example-card"
    >
      <mat-card-header>
        <mat-card-title style="font-size: 25px;">{{ city.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions style="display: flex; justify-content: center;">
        <button style="width: 35%;" (click)="onDelete(city)" color="accent" mat-raised-button>Delete</button>
        <button style="width: 35%;" routerLink='/city/{{city.id}}' color="accent" mat-raised-button>Visit</button>
      </mat-card-actions>
    </mat-card>
  </mat-list>
</div>
