<div>
  <form [formGroup]="cityForm" (ngSubmit)="onSubmit(cityForm.value)">
    <mat-form-field class="example-full-width">
      <mat-label>City Name</mat-label>
      <input id="name" type="text" formControlName="name" matInput placeholder="New York">
    </mat-form-field>

    <button mat-flat-button color="accent" class="button" type="submit">Add City</button>
  </form>
  <mat-list *ngFor="let city of listCities">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{city.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-list>

 

</div>
